.contentbody {
    width: 100%;
    white-space: nowrap;  
    padding-right: 30px;
    padding-left: 30px;
}
.result {
  width: 600px;
  height: 480px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;        
  display:inline-block;    
}
.grid {
  width: 500px;
  height: 320px;
}
.grid .ui-grid-header-cell {
  height: 40px;
}

.graph {  
  vertical-align: top;    
  width: 700px;    
  height: 480px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;      
  display:inline-block;    
}
