<!doctype html>
<html ng-app="App">
<!-- include !doctype resolved problem of ui-grid header height-->
    <head>
    
     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="uigrid/ui-grid.min.css" type="text/css" />
        <link rel="stylesheet" href="css/main.css" type="text/css" />           
        <link rel="stylesheet" href="css/angular-chart.min.css">    

  
    </head>
    <body>        
    <div class="panel panel-primary">
        <div class="panel-heading" >
            <h3 class="panel-title"><b>DataGraph</b> - <i>Tool to import data and generate graph</i></h3>
        </div>    
        
        <div class="panel-body">    
        <div ng-controller="MenuController" >
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active:TabPosition(1)}"><a href ng-click="SetTab(1)">Home</a></li>
                <li role="presentation" ng-class="{active:TabPosition(2)}"><a href ng-click="SetTab(2)">Field Computation</a></li>
            </ul>
        </div>    
        <div ng-view id="views"></div>    
  
        </div>    
    </div>       
    <script src="js/alasql.js"></script>     
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>   
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="uigrid/ui-grid.min.js"></script>
   
    <script src="js/angular-chart.min.js"></script>
    <script src="js/angular-csv-import.min.js"></script>
    <script src="js/app.js"></script>     
        
    </body>
    

</html>