<!doctype html>
<!-- include !doctype resolved problem of ui-grid header height-->
    <head>
    
     
        
    <link rel="stylesheet" href="uigrid/ui-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />           
    <link rel="stylesheet" href="css/angular-chart.min.css">    

  
    </head>
    <body ng-app="App">
        
    <div  ng-controller="Ctrl">
        <ng-csv-import content="csv.content"
        header="csv.header" 
        separator="csv.separator"
        result="csv.result"
        accept="csv.accept"></ng-csv-import>
        <!--
        <select ng-model="type">
        <option value='chart chart-bar'>Bar</option>
        <option value='chart chart-line'>Line</option>    
        </select> -->
        <table><tr><td>Pivot<select ng-model="pivotfield" ng-options="header for header in headers" /></td>
        <td>Aggregate<select ng-model="aggregatefield" ng-options="header for header in headers" /></td>
        <td>Aggregate Type<select ng-model="aggregatetype"><option value="sum">Sum</option><option value="count">count</option></select></td>
        </tr></table>                        
        <input type="button" value="Load CSV" ng-click="LoadCSV()" />
        <input type="button" value="Generate" ng-click="Generate()" />
    
    
        
    <table width="100%">
    <tr>
        <td>
            <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>    
        </td>
        <td>
            <div>
                <canvas id="bar" class="chart chart-bar" chart-data="graphdata" chart-labels="labels" chart-series="series">
                </canvas>
                
                
            </div>
        </td>    
    </tr>    
    </table>
    </div>    
    <script src="js/alasql.js"></script>     
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>   
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="uigrid/ui-grid.min.js"></script>
   
    <script src="js/angular-chart.min.js"></script>
    <script src="js/angular-csv-import.min.js"></script>
    <script src="js/app.js"></script>      
    </body>
    
</html>